<div class="header-container">
  <div class="links top-bar">
    <a mat-button routerLink="/catalog" routerLinkActive="active-link"
      >Catalog</a
    >
    <a  mat-button routerLink="/watchlists" routerLinkActive="active-link"
      >Watchlists</a
    >
    <a [hidden]="!(isLoggedIn$ | async)" mat-button routerLink="/watchlists/create" routerLinkActive="active-link"
      >Create Watchlist</a
    >
    <a [hidden]="!(isLoggedIn$ | async)" mat-button routerLink="/watchlists/mywatchlists" routerLinkActive="active-link"
      >My Watchlist</a
    >
  </div>
  <div class="auth top-bar">
    <a [hidden]="(isLoggedIn$ | async)" mat-button routerLink="/auth/login" routerLinkActive="active-link">Login</a>
    <a [hidden]="(isLoggedIn$ | async)" mat-button routerLink="/auth/register" routerLinkActive="active-link"
      >Register</a
    >
    <a [hidden]="!(isLoggedIn$ | async)" mat-button (click)="logout()"
      >Logout</a
    >
  </div>
</div>
