<div class="header-container">
  <div class="links top-bar">
    <a mat-button routerLink="/catalog" routerLinkActive="active-link"
      >Catalog</a
    >
    <a mat-button routerLink="/watchlists" routerLinkActive="active-link"
      >Watchlists</a
    >
    <a mat-button routerLink="/profile" routerLinkActive="active-link"
      >Profile</a
    >
  </div>
  <div class="auth top-bar">
    <a mat-button routerLink="/login" routerLinkActive="active-link">Login</a>
    <a mat-button routerLink="/register" routerLinkActive="active-link"
      >Register</a
    >
    <a mat-button routerLink="/logout" routerLinkActive="active-link"
      >Logout</a
    >
  </div>
</div>
