a{
  text-decoration: none;
  cursor: pointer;
  color: #fff;
  padding: 5px 20px;
  margin: 2px;
}

a:hover, a:focus{
background-color: #ea0c64;
border-radius: 10px;
}

.header-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.top-bar {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 0.8em;
  padding: 0 4em;
}

.links {
  flex: 3;
}

.auth {
  flex: 1;
  padding: 0 0.5em;
}
