<div class="container">
  <form class="register" action="" method="post">
    <h2>Registration Form</h2>
    <div>
      <label for="username">Username: </label>
      <input
        class="input-error"
        type="text"
        name="username"
        id="username"
        placeholder="Username..."
        #usernameInput
      />
    </div>

    <div>
      <label for="email">Email: </label>
      <input
        type="email"
        name="email"
        id="email"
        placeholder="Email..."
        #emailInput
      />
    </div>

    <div>
      <label for="password">Password: </label>
      <input
        type="password"
        name="password"
        id="password"
        placeholder="******"
      />
    </div>

    <div>
      <label for="rePassword">Repeat Password: </label>
      <input
        type="password"
        name="rePassword"
        id="rePassword"
        placeholder="******"
        #passwordInput
      />
    </div>

    <button
      (click)="
        registerUser(
          $event,
          usernameInput.value,
          emailInput.value,
          passwordInput.value
        )
      "
    >
      Create Account
    </button>

    <div>
      Have an account?
      <a routerLink="/login">Login</a>
    </div>
  </form>
</div>
