<div class="container">
  <form class="form" #loginForm="ngForm" (ngSubmit)="formSubmithandler(loginForm)">
    <h2>Login Form</h2>

    <div>
      <input type="email" name="email" id="email" placeholder="Email..." ngModel #emailInput="ngModel" email required [appEmail]="domains" (input)="onInputChange()"/>
    </div>
     <div class="error-msg" *ngIf="emailInput.touched">
        <p *ngIf="emailInput.errors?.['required']">Email is required!</p>
        <p *ngIf="emailInput.errors?.['email']">Email is invalid!</p>
        <p *ngIf="emailInput.errors?.['emailValidator']">Email has to end with .bg, .com or .co.uk and showldn't contain any spaces! </p>
    </div>
    <div>
      <input type="password" name="password" id="password" placeholder="******" ngModel #passwordInput="ngModel" required (input)="onInputChange()"/>
    </div>
    <div class="error-msg" *ngIf="passwordInput.touched">
      <p *ngIf="passwordInput.errors?.['required']">Error: Password is required!</p>
    </div>
    
    <div class="error-msg" *ngIf="lockUntilChange">
    <p>{{errMsg}}</p>
    </div>
    <ng-container *ngIf="loading">
      <app-loader></app-loader>
    </ng-container>
    <button class="form-btn" [disabled]="loading || loginForm.invalid || lockUntilChange">Login</button>
    <p>
      Have an account?
      <a routerLink="/auth/register">Register</a>
    </p>
  </form>

</div>
