<div class="edit">
  <h2>Edit Watchlist Form</h2>
  <form [formGroup]="editForm" (ngSubmit)="editWatchlist()">
    <div>
      <label for="description">Title: </label>
      <input type="text" id="title" name="title" formControlName="title" placeholder="Title..." />
    </div>

    <div class="error-msg" *ngIf="editForm.get('title')?.touched">
      <p *ngIf="editForm.get('title')?.errors?.['required']">Title is required!</p>
      <p *ngIf="editForm.get('title')?.errors?.['minlength']">Title must be at least 3 characters!</p>
    </div>
    
    <div>
      <label for="description">Description: </label>
      <input type="text" id="description" name="description" formControlName="description" placeholder="Descrription..." />
    </div>

    <div class="error-msg" *ngIf="editForm.get('description')?.touched">
      <p *ngIf="editForm.get('description')?.errors?.['required']">Description is required!</p>
      <p *ngIf="editForm.get('description')?.errors?.['minlength']">Description must be at least 3 characters!</p>
    </div>

    <div class="form-btns">
      <button class="edit-btn edit">Save</button>
      <span (click)="cancelHandler()" class="edit-btn">Cancel</span>
    </div>
  </form>

  <div>
    <div class="error-msg" *ngIf="errorMsg">
      <p>{{errorMsg}}</p>
    </div>
    <ul class="moveList-container"  *ngIf="movieList.length>0">
    <li *ngFor="let movie of movieList">
      <ng-container *ngIf="loading">
        <app-loader></app-loader>
      </ng-container>
      <button [disabled]="loading" class="edit-btn" (click)="delMovieHandler(movie.id, movie.title)">Remove from Watchlist</button>
      <app-movie-card [movie]="movie"></app-movie-card>
    </li>
  </ul>
</div>
</div>
