<div >
<div class="details">
  <h2>Watchlist Details</h2>

  <div class="watchlist-wrapper">
    <div>Title: <span>{{watchlist.title}}</span></div>
    <div>Description: <span>{{watchlist.description}}</span></div>
  </div>
<!-- Create Comment -->
  <h3>Comments</h3>
  <div *ngIf="!(isLoggedIn$|async)" class="login-msg">
    <p ><a routerLink="/auth/login">Login</a> or <a routerLink="/auth/register">Register</a> to add comments.</p>
  </div>
  <div *ngIf="(isLoggedIn$|async)">
  <form class="create-comment" [formGroup]="commentForm" (ngSubmit)="postComment()">
    
    <div>
      <input type="text" id="comment" name="comment" formControlName="comment" placeholder="Comment..." />
    </div>

    <div class="error-msg" *ngIf="commentForm.get('comment')?.touched">
      <p *ngIf="commentForm.get('comment')?.errors?.['required']">Comment is required!</p>
      <p *ngIf="commentForm.get('comment')?.errors?.['minlength']">Comment must be at least 3 characters!</p>
    </div>

    <div class="form-btns">
      <button class="post-btn"  [disabled]="commentForm.invalid&&commentForm.touched">Post Comment</button>
    </div>
  </form>
  </div>
<!--/ Create Comment -->
<!-- Comments List -->
<div class="comments-wrapper">
<ul class="comments-wrapper" *ngIf="commentsList.length>0" >
  <li *ngFor="let comment of commentsList" class="comment-body">
   
    <div>{{comment.username}}:</div>
    <div>"{{comment.comment}}"</div>
    <div class="comment-date"><span>{{comment.createdAt | elapsedTime }}</span></div>

    <div class="comment-controls-user">
      <div class="comment-owner">
          <a class="green-btn" routerLink="['/comments',{{comment.objectId}},'/edit']">Edit</a>
          <span class="red-btn" (click)="deleteCommentHandler(comment)">Delete</span>
      </div>
      <div class="comment-not-owner">
          <span class="green-btn" (click)="likeCommentHandler(comment)">Like</span>
          <span class="red-btn" (click)="dislikeCommentHandler(comment)">Dislike</span>
      </div>
    </div>
  </li>
</ul>
  </div>
<!--/ Comments List -->
  <div>
    <div class="error-msg" *ngIf="errorMsg">
      <p>{{errorMsg}}</p>
    </div>
      <h2>Movie List</h2>
    <ul class="moveList-container"  *ngIf="movieList.length>0; else noMovies ">
    <li *ngFor="let movie of movieList">
      <ng-container *ngIf="loading">
        <app-loader></app-loader>
      </ng-container>
      <app-movie-card [movie]="movie"></app-movie-card>
    </li>
  </ul>
</div>
</div>
</div>

<ng-template #noMovies>
  <div class="watchlists-wrapper">
    <ng-container *ngIf="(isLoggedIn$ | async)">
      <a routerLink="/catalog">
        <p>There aren't any movies here yet.</p>
        <p><span>Browse the catalog</span> to create watchlists and save
        movies.</p></a
      >
    </ng-container>
    <ng-container *ngIf="!(isLoggedIn$ | async)">
      <p>There aren't any movies here yet.</p>
      <p>
        <a routerLink="/auth/register"><span>Register</span></a> or <a routerLink="/auth/login"><span>Login</span></a> to create watchlists and save
        movies.
      </p>
    </ng-container>
  </div>
</ng-template>