h2 {
  font-weight: 400;
  text-align: center;
  margin: 0.8rem 0;
}

.details {
  text-align: center;
  margin: 1em;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.details input {
  padding: 10px 16px;
  border-radius: 4px;
}

.error-msg p {
  color: red;
  font-weight: 400;
  padding: 6px;
  margin: 0 0.2em;
  font-size: 10px;
}

.post-btn {
  background-color: rgb(74, 239, 110);
  color: white;
  padding: 10px 20px;
  margin: 0.5em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.moveList-container {
  margin: 1rem;
  display: flex;
  justify-content: center;
}

.watchlist-wrapper {
  margin: 1rem 0;
  font-weight: 400;
  background-color: #111;
  max-width: 300px;
  padding: 1.5rem;
  border-radius: 10px;
}

.watchlist-wrapper span {
  margin: 1rem;
  font-size: 20px;
  font-weight: 200;
  color: #c2185b;
}

.create-comment {
  background-color: rgba(36, 35, 35, 0.7);
  padding: 1.2rem;
  border-radius: 10px;
  max-width: 300px;
}

.watchlists-wrapper {
  background-color: #aa0547;
  text-align: center;
  border-radius: 10px;
  padding: 1rem;
  font-weight: 200;
  font-size: 1rem;
  min-height: 40px;
}

.watchlists-wrapper a {
  font-weight: 400;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

.watchlists-wrapper span {
  font-weight: 400;
  text-decoration: none;
  color: #0000ee;
}

.watchlists-wrapper select,
.watchlists-wrapper button {
  font-weight: 400;
  color: #0000ee;
  padding: 10px;
  border-radius: 10px;
  margin: 0 5px;
  border: none;
}

.comments-wrapper {
  background-color: rgba(36, 35, 35, 0.7);
  padding: 1rem;
  margin: 10px;
  border-radius: 10px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.comment-body {
  padding: 1.2rem;
  background-color: #484747;
  width: fit-content;
  border-radius: 10px;
  margin: 5px;
}

.comment-date {
  font-size: 10px;
  text-align: right;
  color: rgb(232, 232, 176);
  font-style: oblique;
  padding-top: 3px;
}

.login-msg {
  color: #111;
}

.login-msg a {
  color: #7f3f3f;
  text-decoration: none;
  cursor: pointer;
}
