<mat-sidenav-container class="sidenav-container">
  <!-- Sidenav only visible on handset -->
  <mat-sidenav
    #drawer
    *ngIf="isHandset$ | async"
    class="sidenav"
    fixedInViewport
    mode="over"
    opened="false"
    role="dialog"
  >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list (click)="drawer.toggle()">
      <a mat-list-item routerLink="/catalog">Catalog</a>
      <a mat-list-item routerLink="/watchlists">Watchlists</a>
      <a *ngIf="(isLoggedIn$ | async)" mat-list-item routerLink="/watchlists/create">Create Watchlist</a>
      <a *ngIf="!(isLoggedIn$ | async)" mat-list-item routerLink="/login">Login</a>
      <a *ngIf="!(isLoggedIn$ | async)" mat-list-item routerLink="/register">Register</a>
      <a *ngIf="(isLoggedIn$ | async)" mat-list-item (click)="logout()">Logout</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="top-nav">
      <!-- Hamburger menu button only on handset -->
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>

      <span>CineZone</span>
      <!-- <span class="spacer"></span> -->
      <!-- Desktop navigation links only visible on non-handset -->
      <ng-container *ngIf="!(isHandset$ | async)">
        <app-header class="spacer"></app-header>
        <!-- More links -->
      </ng-container>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
