<div>
  <h2>Create Watchlist Form</h2>
  <form #createForm="ngForm" (ngSubmit)="createWatchlist(createForm)">
    <h2>Create Watchlist Form</h2>
    <div>
      <label for="title">Title: </label>
      <input type="text" id="title" name="title"  #titleInput="ngModel" ngModel required/>
    </div>

    <ng-container>

    </ng-container>
    <div>
      <label for="description">Description: </label>
      <input type="text" id="description" name="description" #descriptionInput="ngModel" ngModel required/>
    </div>

<ng-container *ngIf="invalidForm">
<p>{{errorMsg}}</p>
Please make sure that you are logged in your account!
</ng-container>

    <div class="form-btns">
      <button class="submit-btn">Create</button>
      <div class="submit-btn">Cancel</div>
    </div>
  </form>
</div>
