<div class="create">
  <h2>Create Watchlist Form</h2>
  <form #createForm="ngForm" (ngSubmit)="createWatchlist(createForm)">
    <div>
      <input type="text" id="title" name="title"  #titleInput="ngModel" ngModel required placeholder="Title..."/>
    </div>

    <ng-container>

    </ng-container>
    <div>
      <input type="text" id="description" name="description" #descriptionInput="ngModel" ngModel required placeholder="Descrription..."/>
    </div>

<ng-container *ngIf="invalidForm">
<p>{{errorMsg}}</p>
Please make sure that you are logged in your account!
</ng-container>

    <div class="form-btns">
      <button class="create-btn create">Create</button>
      <span (click)="cancelHandler(createForm)" class="create-btn">Cancel</span>
    </div>
  </form>
</div>
