      <div routerLink="{{ showDetails(movie.id) }}">
        <div>
          <img class="card-img"
            src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}"
            alt=""
          />
        </div>
        <div class="details-wrapper">
          <span class="stars-rating">{{
            movie.vote_average | starRating
          }}</span>
          <h3>{{ movie.title | slice : 22}}</h3>

          <div class="details-btn">
            <span routerLink="{{ showDetails(movie.id) }}">Details</span>
          </div>
        </div>
      </div>
