<div class="container">
  <ul class="catalog-wrapper">
    <li class="movie-card" *ngFor="let movie of moviesList">
      <div (click)="showDetails(movie.id)">
        <div>
          <img
            src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}"
            alt=""
          />
        </div>
        <div class="details-wrapper">
          <span class="stars-rating">{{ showStars(movie.vote_average) }}</span>
          <h3>{{ movie.title }}</h3>

          <div class="details-btn">
            <span (click)="showDetails(movie.id)">Details</span>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
