<div class="container">
  <ul class="catalog-wrapper">
    <li class="movie-card" *ngFor="let movie of moviesList">
      <div>
        <div>
          <img
            src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}"
            alt=""
          />
        </div>
        <div class="details-wrapper">
          <h3>{{ movie.title }}</h3>
          <span>{{showStars(movie.vote_average)}}</span>
          <div>
          <button (click)="showDetails(movie.id)">Details</button>
          </div>

        </div>
      </div>
    </li>
  </ul>
</div>
