.wrapper {
  max-width: 28em;
  background-color: rgba(36, 35, 35, 0.7);
  line-height: 1;
  padding: 14px;
  height: 75vh
}

.backdrop {
  height: 75vh;
  background-size: cover;
  background-position: left;
  border-radius: 8px;
}

h1 {
  font-size: 3em;
}

.companies-list {
  margin: 15px 8px;
  font-size: 0.8rem;
}
.companies-list img {
  max-width: 30px;
}

.companies-list li {
  margin: 5px 2px;
  display: flex;
  align-items: center;
}
.companies-list span {
  margin: 5px 5px;
  font-size: 0.7rem;
}
.small-screen-img{
  display: none;
}

@media(max-width:550px){
.small-screen-img{
  display: block;
  width: 100%;
}
}

.watchlists-wrapper{
  background-color: #aa0547;
  text-align: center;
  border-radius: 10px;
  padding: 1rem;
  font-weight: 200;
  font-size: 1rem;
  min-height: 40px;
}

.watchlists-wrapper a{
font-weight: 400;
text-decoration: none;
color: #fff;
cursor: pointer;
}

.watchlists-wrapper span{
font-weight: 400;
text-decoration: none;
color: #0000EE;
}

.watchlists-wrapper select, .watchlists-wrapper button{
font-weight: 400;
color: #0000EE;
padding: 10px;
border-radius: 10px;
margin: 0 5px;
border: none;
}